# First Steps with the FXCM API

## Connecting to the API / Server

In [32]:
%pip uninstall python-socketio

%pip uninstall python-engineio

%pip install python-socketio==4.6.1

%pip install fxcmpy

^C
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import fxcmpy

In [2]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [3]:
api

In [4]:
api.get_accounts()

,t,ratePrecision,accountId,balance,usdMr,mc,mcDate,accountName,usdMr3,hedging,usableMargin3,usableMarginPerc,usableMargin3Perc,equity,usableMargin,bus,dayPL,grossPL
0,6,0,1826539,17300,0,N,,1001826539,0,Y,17300,100,100,17300,17300,1000,-2700,0

In [5]:
api.get_account_ids()

[1826539]

In [6]:
api.get_instruments()

['EUR/USD',
 'USD/JPY',
 'GBP/USD',
 'USD/CHF',
 'EUR/CHF',
 'AUD/USD',
 'USD/CAD',
 'NZD/USD',
 'EUR/GBP',
 'EUR/JPY',
 'GBP/JPY',
 'EUSTX50',
 'CHF/JPY',
 'VOLX',
 'GBP/CHF',
 'EUR/AUD',
 'EUR/CAD',
 'AUD/CAD',
 'AUD/JPY',
 'CAD/JPY',
 'NZD/JPY',
 'GBP/CAD',
 'GBP/NZD',
 'GBP/AUD',
 'AUD/NZD',
 'USD/SEK',
 'EUR/SEK',
 'USDOLLAR',
 'EUR/NOK',
 'US2000',
 'USD/NOK',
 'USD/MXN',
 'AUD/CHF',
 'EUR/NZD',
 'USD/ZAR',
 'USD/HKD',
 'JD.us',
 'TME.us',
 'PDD.us',
 'WB.us',
 'BILI.us',
 'ZAR/JPY',
 'NVDA.us',
 'AMD.us',
 'USD/TRY',
 'DADA.us',
 'PTON.us',
 'EUR/TRY',
 'NZD/CHF',
 'CAD/CHF',
 'NZD/CAD',
 'MEIT.hk',
 'TENC.hk',
 'XIAO.hk',
 'USD/HUF',
 'BYDC.hk',
 'TRY/JPY',
 'AIA.hk',
 'BABA.hk',
 'WUXI.hk',
 'HSBC.hk',
 'GELY.hk',
 'HKEX.hk',
 'NETE.hk',
 'USD/CNH',
 'JD.hk',
 'SMIC.hk',
 'PING.hk',
 'GALA.hk',
 'SBIO.hk',
 'ALIH.hk',
 'KIDE.hk',
 'FLAT.hk',
 'ICBC.hk',
 'KSOF.hk',
 'SUNN.hk',
 'SMOO.hk',
 'BYDE.hk',
 'NIO.us',
 'MRNA.us',
 'ABNB.us',
 'CCL.us',
 'AMC.us',
 'DASH.us',
 'BNGO.us',
 'FCEL.us',
 'PENN.us',
 'GME.us',
 'PLUG.us',
 'PLTR.us',
 'PYPL.us',
 'SNOW.us',
 'SNAP.us',
 'BA.us',
 'XPEV.us',
 'SPCE.us',
 'BAC.us',
 'SONY.us',
 'BRKB.us',
 'C.us',
 'CRM.us',
 'DIS.us',
 'F.us',
 'KO.us',
 'JPM.us',
 'MA.us',
 'MCD.us',
 'PFE.us',
 'PG.us',
 'SE.us',
 'TGT.us',
 'T.us',
 'V.us',
 'XOM.us',
 'AAPL.us',
 'BIDU.us',
 'AMZN.us',
 'GOOG.us',
 'INTC.us',
 'MSFT.us',
 'SBUX.us',
 'AGN.nl',
 'ASML.nl',
 'DSM.nl',
 'HEIA.nl',
 'KPN.nl',
 'INGA.nl',
 'PHIA.nl',
 'AI.fr',
 'ALO.fr',
 'BNP.fr',
 'BN.fr',
 'CA.fr',
 'DG.fr',
 'AIR.fr',
 'ORA.fr',
 'GLE.fr',
 'MC.fr',
 'OR.fr',
 'ML.fr',
 'SAN.fr',
 'RNO.fr',
 'SU.fr',
 'SGO.fr',
 'VIV.fr',
 'VIE.fr',
 'ADS.de',
 'ALV.de',
 'BAYN.de',
 'BAS.de',
 'BMW.de',
 'CON.de',
 'DBK.de',
 'DB1.de',
 'DPW.de',
 'DTE.de',
 'EOAN.de',
 'IFX.de',
 'LHA.de',
 'MRK.de',
 'RWE.de',
 'SAP.de',
 'SIE.de',
 'TUI1.de',
 'VOW.de',
 'AV.uk',
 'BA.uk',
 'AZN.uk',
 'BATS.uk',
 'BARC.uk',
 'BP.uk',
 'GSK.uk',
 'IAG.uk',
 'HSBA.uk',
 'LLOY.uk',
 'LGEN.uk',
 'RR.uk',
 'STAN.uk',
 'TSCO.uk',
 'VOD.uk',
 'BABA.us',
 'DAL.us',
 'NFLX.us',
 'TSLA.us',
 'GLEN.uk',
 'TTE.fr',
 'ENGI.fr',
 'VNA.de',
 'SQ.us',
 'LYFT.us',
 'UAL.us',
 'DKNG.us',
 'BYND.us',
 'SHOP.us',
 'ZM.us',
 'UBER.us',
 'HOOD.us',
 'LCID.us',
 'CRWD.us',
 'CPNG.us',
 'BEKE.us',
 'RBLX.us',
 'NET.us',
 'BIDU.hk',
 'ENR.de',
 'COIN.us',
 'CSL.au',
 'BHP.au',
 'CBA.au',
 'NAB.au',
 'WBC.au',
 'WOW.au',
 'ANZ.au',
 'FMG.au',
 'WES.au',
 'TLS.au',
 'MQG.au',
 'GMG.au',
 'RIO.au',
 'NCM.au',
 'WPL.au',
 'ALL.au',
 'COL.au',
 'A2M.au',
 'XRO.au',
 'REA.au',
 'Z1P.au',
 'QAN.au',
 'SHEL.uk',
 'MBG.de',
 'BT.A.uk',
 'TW.uk',
 'NWG.uk',
 'MNG.uk',
 'MRO.uk',
 'CBK.de',
 'ROO.uk',
 'STM.fr',
 'DHER.de',
 'STLA.fr',
 'SPOT.us',
 'FVRR.us',
 'BTBT.us',
 'MARA.us',
 'WISH.us',
 'BITF.us',
 'RIVN.us',
 'META.us',
 'ESPORTS',
 'BIOTECH',
 'CANNABIS',
 'FAANG',
 'CHN.TECH',
 'CHN.ECOMM',
 'WE.us',
 'USEquities',
 'AIRLINES',
 'CASINOS',
 'TRAVEL',
 'US.ECOMM',
 'US.BANKS',
 'US.AUTO',
 'WFH',
 'ATMX',
 'URANIUM',
 'Cryptostock',
 'BTC/USD',
 'BCH/USD',
 'ETH/USD',
 'LTC/USD',
 'CryptoMajor',
 'EOS/USD',
 'XLM/USD',
 'ADA/USD',
 'DOGE/USD',
 'DOT/USD',
 'BTC/EUR',
 'BTC/AUD',
 'BTC/GBP',
 'ETH/EUR',
 'ETH/AUD',
 'ETH/BTC',
 'BNB/USD',
 'SOL/USD',
 'AVAX/USD',
 'MATIC/USD',
 'LINK/USD',
 'XTZ/USD',
 'KSM/USD',
 'EMBasket',
 'JPYBasket',
 'XAU/USD',
 'XAG/USD',
 'ADYEN.nl',
 'BESI.nl',
 'IMCD.nl',
 'NN.nl',
 'MT.nl',
 'TKWY.nl',
 'PRX.nl',
 'TOM2.nl',
 'Bund',
 '5USNote',
 '10USNote',
 '2USNote',
 'ABN.nl',
 'Bobl',
 'Schatz',
 'UMG.nl',
 'FED30D',
 'AD.nl',
 'EURIBOR3M',
 'SONIA3M',
 'IBHY',
 'USOil',
 'UKOil',
 'SOYF',
 'NGAS',
 'USOilSpot',
 'UKOilSpot',
 'WHEATF',
 'CORNF',
 'AUS200',
 'ESP35',
 'FRA40',
 'GER30',
 'HKG33',
 'JPN225',
 'NAS100',
 'GasolineF',
 'HeatingOilF',
 'SPX500',
 'UK100',
 'US30',
 'LCattleF',
 'Copper',
 'CHN50']

In [7]:
instr = api.get_instruments()
instr

['EUR/USD',
 'USD/JPY',
 'GBP/USD',
 'USD/CHF',
 'EUR/CHF',
 'AUD/USD',
 'USD/CAD',
 'NZD/USD',
 'EUR/GBP',
 'EUR/JPY',
 'GBP/JPY',
 'EUSTX50',
 'CHF/JPY',
 'VOLX',
 'GBP/CHF',
 'EUR/AUD',
 'EUR/CAD',
 'AUD/CAD',
 'AUD/JPY',
 'CAD/JPY',
 'NZD/JPY',
 'GBP/CAD',
 'GBP/NZD',
 'GBP/AUD',
 'AUD/NZD',
 'USD/SEK',
 'EUR/SEK',
 'USDOLLAR',
 'EUR/NOK',
 'US2000',
 'USD/NOK',
 'USD/MXN',
 'AUD/CHF',
 'EUR/NZD',
 'USD/ZAR',
 'USD/HKD',
 'JD.us',
 'TME.us',
 'PDD.us',
 'WB.us',
 'BILI.us',
 'ZAR/JPY',
 'NVDA.us',
 'AMD.us',
 'USD/TRY',
 'DADA.us',
 'PTON.us',
 'EUR/TRY',
 'NZD/CHF',
 'CAD/CHF',
 'NZD/CAD',
 'MEIT.hk',
 'TENC.hk',
 'XIAO.hk',
 'USD/HUF',
 'BYDC.hk',
 'TRY/JPY',
 'AIA.hk',
 'BABA.hk',
 'WUXI.hk',
 'HSBC.hk',
 'GELY.hk',
 'HKEX.hk',
 'NETE.hk',
 'USD/CNH',
 'JD.hk',
 'SMIC.hk',
 'PING.hk',
 'GALA.hk',
 'SBIO.hk',
 'ALIH.hk',
 'KIDE.hk',
 'FLAT.hk',
 'ICBC.hk',
 'KSOF.hk',
 'SUNN.hk',
 'SMOO.hk',
 'BYDE.hk',
 'NIO.us',
 'MRNA.us',
 'ABNB.us',
 'CCL.us',
 'AMC.us',
 'DASH.us',
 'BNGO.us',
 'FCEL.us',
 'PENN.us',
 'GME.us',
 'PLUG.us',
 'PLTR.us',
 'PYPL.us',
 'SNOW.us',
 'SNAP.us',
 'BA.us',
 'XPEV.us',
 'SPCE.us',
 'BAC.us',
 'SONY.us',
 'BRKB.us',
 'C.us',
 'CRM.us',
 'DIS.us',
 'F.us',
 'KO.us',
 'JPM.us',
 'MA.us',
 'MCD.us',
 'PFE.us',
 'PG.us',
 'SE.us',
 'TGT.us',
 'T.us',
 'V.us',
 'XOM.us',
 'AAPL.us',
 'BIDU.us',
 'AMZN.us',
 'GOOG.us',
 'INTC.us',
 'MSFT.us',
 'SBUX.us',
 'AGN.nl',
 'ASML.nl',
 'DSM.nl',
 'HEIA.nl',
 'KPN.nl',
 'INGA.nl',
 'PHIA.nl',
 'AI.fr',
 'ALO.fr',
 'BNP.fr',
 'BN.fr',
 'CA.fr',
 'DG.fr',
 'AIR.fr',
 'ORA.fr',
 'GLE.fr',
 'MC.fr',
 'OR.fr',
 'ML.fr',
 'SAN.fr',
 'RNO.fr',
 'SU.fr',
 'SGO.fr',
 'VIV.fr',
 'VIE.fr',
 'ADS.de',
 'ALV.de',
 'BAYN.de',
 'BAS.de',
 'BMW.de',
 'CON.de',
 'DBK.de',
 'DB1.de',
 'DPW.de',
 'DTE.de',
 'EOAN.de',
 'IFX.de',
 'LHA.de',
 'MRK.de',
 'RWE.de',
 'SAP.de',
 'SIE.de',
 'TUI1.de',
 'VOW.de',
 'AV.uk',
 'BA.uk',
 'AZN.uk',
 'BATS.uk',
 'BARC.uk',
 'BP.uk',
 'GSK.uk',
 'IAG.uk',
 'HSBA.uk',
 'LLOY.uk',
 'LGEN.uk',
 'RR.uk',
 'STAN.uk',
 'TSCO.uk',
 'VOD.uk',
 'BABA.us',
 'DAL.us',
 'NFLX.us',
 'TSLA.us',
 'GLEN.uk',
 'TTE.fr',
 'ENGI.fr',
 'VNA.de',
 'SQ.us',
 'LYFT.us',
 'UAL.us',
 'DKNG.us',
 'BYND.us',
 'SHOP.us',
 'ZM.us',
 'UBER.us',
 'HOOD.us',
 'LCID.us',
 'CRWD.us',
 'CPNG.us',
 'BEKE.us',
 'RBLX.us',
 'NET.us',
 'BIDU.hk',
 'ENR.de',
 'COIN.us',
 'CSL.au',
 'BHP.au',
 'CBA.au',
 'NAB.au',
 'WBC.au',
 'WOW.au',
 'ANZ.au',
 'FMG.au',
 'WES.au',
 'TLS.au',
 'MQG.au',
 'GMG.au',
 'RIO.au',
 'NCM.au',
 'WPL.au',
 'ALL.au',
 'COL.au',
 'A2M.au',
 'XRO.au',
 'REA.au',
 'Z1P.au',
 'QAN.au',
 'SHEL.uk',
 'MBG.de',
 'BT.A.uk',
 'TW.uk',
 'NWG.uk',
 'MNG.uk',
 'MRO.uk',
 'CBK.de',
 'ROO.uk',
 'STM.fr',
 'DHER.de',
 'STLA.fr',
 'SPOT.us',
 'FVRR.us',
 'BTBT.us',
 'MARA.us',
 'WISH.us',
 'BITF.us',
 'RIVN.us',
 'META.us',
 'ESPORTS',
 'BIOTECH',
 'CANNABIS',
 'FAANG',
 'CHN.TECH',
 'CHN.ECOMM',
 'WE.us',
 'USEquities',
 'AIRLINES',
 'CASINOS',
 'TRAVEL',
 'US.ECOMM',
 'US.BANKS',
 'US.AUTO',
 'WFH',
 'ATMX',
 'URANIUM',
 'Cryptostock',
 'BTC/USD',
 'BCH/USD',
 'ETH/USD',
 'LTC/USD',
 'CryptoMajor',
 'EOS/USD',
 'XLM/USD',
 'ADA/USD',
 'DOGE/USD',
 'DOT/USD',
 'BTC/EUR',
 'BTC/AUD',
 'BTC/GBP',
 'ETH/EUR',
 'ETH/AUD',
 'ETH/BTC',
 'BNB/USD',
 'SOL/USD',
 'AVAX/USD',
 'MATIC/USD',
 'LINK/USD',
 'XTZ/USD',
 'KSM/USD',
 'EMBasket',
 'JPYBasket',
 'XAU/USD',
 'XAG/USD',
 'ADYEN.nl',
 'BESI.nl',
 'IMCD.nl',
 'NN.nl',
 'MT.nl',
 'TKWY.nl',
 'PRX.nl',
 'TOM2.nl',
 'Bund',
 '5USNote',
 '10USNote',
 '2USNote',
 'ABN.nl',
 'Bobl',
 'Schatz',
 'UMG.nl',
 'FED30D',
 'AD.nl',
 'EURIBOR3M',
 'SONIA3M',
 'IBHY',
 'USOil',
 'UKOil',
 'SOYF',
 'NGAS',
 'USOilSpot',
 'UKOilSpot',
 'WHEATF',
 'CORNF',
 'AUS200',
 'ESP35',
 'FRA40',
 'GER30',
 'HKG33',
 'JPN225',
 'NAS100',
 'GasolineF',
 'HeatingOilF',
 'SPX500',
 'UK100',
 'US30',
 'LCattleF',
 'Copper',
 'CHN50']

In [8]:
len(instr)

337

In [9]:
api.close()

## Getting Historical Data (Part 1)

In [1]:
import pandas as pd
import fxcmpy

In [2]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [3]:
help(api.get_candles)

Help on method get_candles in module fxcmpy.fxcmpy:

get_candles(instrument='', offer_id=None, period='H1', number=10, start=None, end=None, with_index=True, columns=[], stop=None) method of fxcmpy.fxcmpy.fxcmpy instance
    Return historical data from the fxcm database as pandas.DataFrame.

    Arguments:

    instrument: string (default ''):
        the instrument for which data is requested. For a list of all
        available instruments for historical data, use
        get_instruments_for_candles().
        If the value is equal to '' (default), offer_id must have a value.
        If both, instrument and offer_id are given, the value of instrument
        is used.

    offer_id: integer (default None):
        the id of the instrument for which data is requested as given in the
        offer trading table as given by get_offers(). If offer_id is equal
        to None (default), the parameter instrument must have a value.
        If both, instrument and offer_id are given, the value of instrument
        is used.

    period: string,
        the granularity of the data. Must be one of
        'm1', 'm5', 'm15', 'm30', 'H1', 'H2', 'H3', 'H4', 'H6', 'H8',
        'D1', 'W1', or 'M1'.

    number: integer (default 10),
        the number of candles to receive.

    start: datetime.datetime, datetime.date or string (defaut None),
        the first date to receive data for.

    end: datetime.datetime, datetime.date or string (default None),
        the last date to receive data for.

    with_index: boolean (default True),
        whether the column 'date' should server as index in the resulting
        pandas.DataFrame.

    columns: list (default list()),
        a list of column labels the result should include. If empty, all
        columns are returned.

        Available column labels are

        'date', 'bidopen', 'bidclose', 'bidhigh', 'bidlow',
        'askopen', 'askclose', 'askhigh', 'asklow', 'tickqty'.

        Also available is 'asks' as shortcut for all ask related columns
        and 'bids' for all bid related columns, respectively.

        The column 'date' is always included.

    Returns:

    A pandas DataFrame containing the requested data.

In [4]:
api.get_candles('EUR/USD')

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2023-03-24 11:00:00,1.07272,1.07377,1.07475,1.07123,1.07286,1.07390,1.07487,1.07137,21598
2023-03-24 12:00:00,1.07377,1.07486,1.07516,1.07223,1.07389,1.07499,1.07530,1.07237,25736
2023-03-24 13:00:00,1.07486,1.07561,1.07650,1.07397,1.07498,1.07575,1.07666,1.07421,32398
2023-03-24 14:00:00,1.07562,1.07493,1.07669,1.07486,1.07575,1.07506,1.07682,1.07500,30803
2023-03-24 15:00:00,1.07494,1.07605,1.07632,1.07409,1.07506,1.07618,1.07647,1.07422,25463
2023-03-24 16:00:00,1.07605,1.07566,1.07664,1.07505,1.07617,1.07580,1.07677,1.07519,17745
2023-03-24 17:00:00,1.07567,1.07609,1.07669,1.07547,1.07580,1.07623,1.07684,1.07560,12429
2023-03-24 18:00:00,1.07610,1.07599,1.07621,1.07533,1.07623,1.07612,1.07635,1.07546,8429
2023-03-24 19:00:00,1.07598,1.07586,1.07658,1.07568,1.07612,1.07599,1.07671,1.07581,7012
2023-03-24 20:00:00,1.07587,1.07588,1.07622,1.07568,1.07599,1.07615,1.07635,1.07591,3078

In [5]:
api.get_candles('EUR/USD', number = 10000)

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2021-08-29 21:00:00,1.17930,1.17944,1.17955,1.17895,1.17985,1.17964,1.17985,1.17939,276
2021-08-29 22:00:00,1.17944,1.17977,1.17998,1.17944,1.17964,1.17992,1.18015,1.17962,1049
2021-08-29 23:00:00,1.17977,1.17975,1.17986,1.17961,1.17992,1.17988,1.17999,1.17972,1268
2021-08-30 00:00:00,1.17975,1.18041,1.18051,1.17946,1.17988,1.18053,1.18064,1.17959,3269
2021-08-30 01:00:00,1.18041,1.18062,1.18074,1.18020,1.18053,1.18073,1.18087,1.18031,4455
...,...,...,...,...,...,...,...,...,...
2023-03-24 16:00:00,1.07605,1.07566,1.07664,1.07505,1.07617,1.07580,1.07677,1.07519,17745
2023-03-24 17:00:00,1.07567,1.07609,1.07669,1.07547,1.07580,1.07623,1.07684,1.07560,12429
2023-03-24 18:00:00,1.07610,1.07599,1.07621,1.07533,1.07623,1.07612,1.07635,1.07546,8429
2023-03-24 19:00:00,1.07598,1.07586,1.07658,1.07568,1.07612,1.07599,1.07671,1.07581,7012
2023-03-24 20:00:00,1.07587,1.07588,1.07622,1.07568,1.07599,1.07615,1.07635,1.07591,3078

In [6]:
df = api.get_candles('EUR/USD', number = 10000)
df

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2021-08-29 21:00:00,1.17930,1.17944,1.17955,1.17895,1.17985,1.17964,1.17985,1.17939,276
2021-08-29 22:00:00,1.17944,1.17977,1.17998,1.17944,1.17964,1.17992,1.18015,1.17962,1049
2021-08-29 23:00:00,1.17977,1.17975,1.17986,1.17961,1.17992,1.17988,1.17999,1.17972,1268
2021-08-30 00:00:00,1.17975,1.18041,1.18051,1.17946,1.17988,1.18053,1.18064,1.17959,3269
2021-08-30 01:00:00,1.18041,1.18062,1.18074,1.18020,1.18053,1.18073,1.18087,1.18031,4455
...,...,...,...,...,...,...,...,...,...
2023-03-24 16:00:00,1.07605,1.07566,1.07664,1.07505,1.07617,1.07580,1.07677,1.07519,17745
2023-03-24 17:00:00,1.07567,1.07609,1.07669,1.07547,1.07580,1.07623,1.07684,1.07560,12429
2023-03-24 18:00:00,1.07610,1.07599,1.07621,1.07533,1.07623,1.07612,1.07635,1.07546,8429
2023-03-24 19:00:00,1.07598,1.07586,1.07658,1.07568,1.07612,1.07599,1.07671,1.07581,7012
2023-03-24 20:00:00,1.07587,1.07588,1.07622,1.07568,1.07599,1.07615,1.07635,1.07591,3078

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10000 entries, 2021-08-29 21:00:00 to 2023-03-24 20:00:00
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bidopen   10000 non-null  float64
 1   bidclose  10000 non-null  float64
 2   bidhigh   10000 non-null  float64
 3   bidlow    10000 non-null  float64
 4   askopen   10000 non-null  float64
 5   askclose  10000 non-null  float64
 6   askhigh   10000 non-null  float64
 7   asklow    10000 non-null  float64
 8   tickqty   10000 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 781.2 KB

In [8]:
api.get_candles('EUR/USD', number = 5, columns = ["bids"])

                     bidopen  bidclose  bidhigh   bidlow
date
2023-03-24 16:00:00  1.07605   1.07566  1.07664  1.07505
2023-03-24 17:00:00  1.07567   1.07609  1.07669  1.07547
2023-03-24 18:00:00  1.07610   1.07599  1.07621  1.07533
2023-03-24 19:00:00  1.07598   1.07586  1.07658  1.07568
2023-03-24 20:00:00  1.07587   1.07588  1.07622  1.07568

In [9]:
api.get_candles('EUR/USD', number = 5, columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2023-03-24 16:00:00  1.07617   1.07580  1.07677  1.07519
2023-03-24 17:00:00  1.07580   1.07623  1.07684  1.07560
2023-03-24 18:00:00  1.07623   1.07612  1.07635  1.07546
2023-03-24 19:00:00  1.07612   1.07599  1.07671  1.07581
2023-03-24 20:00:00  1.07599   1.07615  1.07635  1.07591

## Getting Historical Data (Part 2)

In [10]:
api.get_candles('EUR/USD', number = 10000, columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2021-08-29 21:00:00  1.17985   1.17964  1.17985  1.17939
2021-08-29 22:00:00  1.17964   1.17992  1.18015  1.17962
2021-08-29 23:00:00  1.17992   1.17988  1.17999  1.17972
2021-08-30 00:00:00  1.17988   1.18053  1.18064  1.17959
2021-08-30 01:00:00  1.18053   1.18073  1.18087  1.18031
...                      ...       ...      ...      ...
2023-03-24 16:00:00  1.07617   1.07580  1.07677  1.07519
2023-03-24 17:00:00  1.07580   1.07623  1.07684  1.07560
2023-03-24 18:00:00  1.07623   1.07612  1.07635  1.07546
2023-03-24 19:00:00  1.07612   1.07599  1.07671  1.07581
2023-03-24 20:00:00  1.07599   1.07615  1.07635  1.07591

[10000 rows x 4 columns]

In [11]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-01 00:00:00  1.12341   1.12313  1.12342  1.12282
2020-07-01 01:00:00  1.12313   1.12394  1.12402  1.12296
2020-07-01 02:00:00  1.12394   1.12386  1.12414  1.12370
2020-07-01 03:00:00  1.12386   1.12271  1.12395  1.12228
2020-07-01 04:00:00  1.12271   1.12188  1.12279  1.12157
...                      ...       ...      ...      ...
2020-07-30 20:00:00  1.18452   1.18479  1.18489  1.18437
2020-07-30 21:00:00  1.18479   1.18425  1.18483  1.18379
2020-07-30 22:00:00  1.18425   1.18488  1.18493  1.18409
2020-07-30 23:00:00  1.18488   1.18728  1.18772  1.18437
2020-07-31 00:00:00  1.18728   1.18668  1.18894  1.18625

[538 rows x 4 columns]

In [12]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", 
                period = "H1", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-01 00:00:00  1.12341   1.12313  1.12342  1.12282
2020-07-01 01:00:00  1.12313   1.12394  1.12402  1.12296
2020-07-01 02:00:00  1.12394   1.12386  1.12414  1.12370
2020-07-01 03:00:00  1.12386   1.12271  1.12395  1.12228
2020-07-01 04:00:00  1.12271   1.12188  1.12279  1.12157
...                      ...       ...      ...      ...
2020-07-30 20:00:00  1.18452   1.18479  1.18489  1.18437
2020-07-30 21:00:00  1.18479   1.18425  1.18483  1.18379
2020-07-30 22:00:00  1.18425   1.18488  1.18493  1.18409
2020-07-30 23:00:00  1.18488   1.18728  1.18772  1.18437
2020-07-31 00:00:00  1.18728   1.18668  1.18894  1.18625

[538 rows x 4 columns]

In [13]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", 
                period = "D1", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-02 21:00:00  1.12522   1.12404  1.13032  1.12239
2020-07-03 21:00:00  1.12404   1.12498  1.12544  1.12197
2020-07-05 21:00:00  1.12498   1.12478  1.12514  1.12462
2020-07-06 21:00:00  1.12478   1.13100  1.13461  1.12478
2020-07-07 21:00:00  1.13100   1.12748  1.13331  1.12594
2020-07-08 21:00:00  1.12748   1.13309  1.13522  1.12629
2020-07-09 21:00:00  1.13309   1.12856  1.13713  1.12808
2020-07-10 21:00:00  1.12856   1.13020  1.13254  1.12553
2020-07-12 21:00:00  1.13020   1.13079  1.13120  1.13025
2020-07-13 21:00:00  1.13079   1.13451  1.13755  1.13015
2020-07-14 21:00:00  1.13451   1.14003  1.14093  1.13258
2020-07-15 21:00:00  1.14003   1.14124  1.14527  1.13916
2020-07-16 21:00:00  1.14124   1.13843  1.14423  1.13711
2020-07-17 21:00:00  1.13843   1.14299  1.14442  1.13782
2020-07-19 21:00:00  1.14299   1.14200  1.14327  1.14037
2020-07-20 21:00:00  1.14200   1.14483  1.14683  1.14029
2020-07-21 21:00:00  1.14483   1.15276  1.15403  1.14236
2020-07-22 21:00:00  1.15276   1.15704  1.16021  1.15074
2020-07-23 21:00:00  1.15704   1.15968  1.16275  1.15409
2020-07-24 21:00:00  1.15968   1.16589  1.16591  1.15818
2020-07-26 21:00:00  1.16589   1.16456  1.16587  1.16405
2020-07-27 21:00:00  1.16456   1.17523  1.17819  1.16429
2020-07-28 21:00:00  1.17523   1.17168  1.17744  1.16993
2020-07-29 21:00:00  1.17168   1.17923  1.18069  1.17147
2020-07-30 21:00:00  1.17923   1.18479  1.18489  1.17314
2020-07-31 21:00:00  1.18479   1.17829  1.19093  1.17618

In [14]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", 
                period = "m1", columns = ["asks"])

Empty DataFrame
Columns: [askopen, askclose, askhigh, asklow]
Index: []

In [15]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-10", 
                period = "m1", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-01 00:00:00  1.12341   1.12331  1.12342  1.12330
2020-07-01 00:01:00  1.12331   1.12317  1.12332  1.12315
2020-07-01 00:02:00  1.12317   1.12310  1.12317  1.12308
2020-07-01 00:03:00  1.12310   1.12301  1.12312  1.12291
2020-07-01 00:04:00  1.12301   1.12299  1.12302  1.12293
...                      ...       ...      ...      ...
2020-07-09 23:56:00  1.12899   1.12891  1.12899  1.12890
2020-07-09 23:57:00  1.12891   1.12891  1.12891  1.12890
2020-07-09 23:58:00  1.12891   1.12884  1.12891  1.12883
2020-07-09 23:59:00  1.12884   1.12887  1.12887  1.12881
2020-07-10 00:00:00  1.12887   1.12864  1.12895  1.12863

[10027 rows x 4 columns]

In [16]:
api.get_candles("US30", start = "2020-07-01", end = "2020-07-10", 
                period = "m1", columns = ["asks"])

                      askopen  askclose   askhigh    asklow
date
2020-07-01 00:00:00  25745.02  25734.02  25749.02  25729.66
2020-07-01 00:01:00  25734.02  25724.66  25733.02  25716.16
2020-07-01 00:02:00  25724.66  25726.16  25731.16  25721.16
2020-07-01 00:03:00  25726.16  25729.16  25734.66  25725.16
2020-07-01 00:04:00  25729.16  25726.66  25730.66  25723.16
...                       ...       ...       ...       ...
2020-07-09 23:56:00  25798.71  25793.21  25799.71  25793.21
2020-07-09 23:57:00  25793.21  25796.21  25798.21  25792.21
2020-07-09 23:58:00  25796.21  25791.21  25799.71  25790.71
2020-07-09 23:59:00  25791.21  25797.21  25797.21  25789.21
2020-07-10 00:00:00  25797.21  25794.21  25802.71  25791.71

[9322 rows x 4 columns]

In [17]:
api.close()

## Streaming high-frequency real-time Data

In [18]:
import pandas as pd
import fxcmpy

In [19]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [20]:
api.subscribe_market_data("EUR/USD")

In [21]:
api.get_subscribed_symbols()

['EUR/USD']

In [22]:
api.get_last_price("EUR/USD")

Bid     1.07588
Ask     1.07615
High    1.08397
Low     1.07123
Name: 2023-03-24 20:59:00.107000, dtype: float64

In [23]:
api.get_prices("EUR/USD")

                             Bid      Ask     High      Low
2023-03-24 20:59:00.107  1.07588  1.07615  1.08397  1.07123

In [24]:
import time

In [25]:
while True:
    time.sleep(1)
    print(api.get_last_price("EUR/USD").name, api.get_last_price("EUR/USD").Bid,
          api.get_last_price("EUR/USD").Ask, sep = "|")

2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615
2023-03-24 20:59:00.107000|1.07588|1.07615

KeyboardInterrupt:

In [27]:
api.unsubscribe_market_data("EUR/USD")

In [28]:
def print_data(data, dataframe):
    print('%3d | %s | %s, %s, %s'
          % (len(dataframe), data['Symbol'],
             pd.to_datetime(int(data['Updated']), unit='ms'),
             data['Rates'][0], data['Rates'][1]))

In [31]:
api.subscribe_market_data("EUR/USD", (print_data,))

In [30]:
api.unsubscribe_market_data("EUR/USD")

In [32]:
api.close()

## Creating Orders and Executing Trades

In [33]:
import pandas as pd
import fxcmpy

In [34]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [35]:
api.get_open_positions()

Empty DataFrame
Columns: []
Index: []

In [36]:
api.create_market_buy_order("EUR/USD", 100)

In [37]:
api.get_open_positions()

,t,ratePrecision,tradeId,accountName,accountId,roll,com,open,valueDate,grossPL,...,usedMargin,orderId,OpenOrderRequestTXT,OpenOrderReqID,TradeIDOrigin,child_trailingStop,child_trailing,stop,stopMove,limit
0,1,5,74756203,1001826539,1826539,0,0,1.07615,,-27,...,300,142936173,None,Request-504270099,None,none,-1,0,0,0

In [38]:
col = ["tradeId", "amountK", "currency", "grossPL", "isBuy"]

In [39]:
api.get_open_positions()[col]

    tradeId  amountK currency  grossPL  isBuy
0  74756203      100  EUR/USD      -27   True

In [40]:
api.create_market_sell_order("EUR/USD", 100)

In [41]:
api.get_open_positions()[col]

    tradeId  amountK currency  grossPL  isBuy
0  74756203      100  EUR/USD      -27   True
1  74756204      100  EUR/USD      -27  False

In [42]:
api.close_all_for_symbol("EUR/USD")

In [43]:
api.get_closed_positions()[col]

    tradeId  amountK currency  grossPL  isBuy
0  74756076     5000  EUR/USD    -1350  False
1  74756075     5000  EUR/USD    -1350   True
2  74756203      100  EUR/USD      -27   True
3  74756204      100  EUR/USD      -27  False

In [44]:
api.get_closed_positions_summary()[col]

  tradeId  amountK currency  grossPL  isBuy
0            10200  EUR/USD    -2754  False

In [45]:
api.get_accounts().T

                            0
t                           6
ratePrecision               0
accountId             1826539
balance                 17246
usdMr                     300
mc                          N
mcDate
accountName        1001826539
usdMr3                    300
hedging                     Y
usableMargin3           16946
usableMarginPerc     98.26047
usableMargin3Perc    98.26047
equity                  17246
usableMargin            16946
bus                      1000
dayPL                   -2754
grossPL                     0

In [46]:
api.close()