In [5]:
%pip install yfinance

Collecting yfinance
  Using cached yfinance-0.2.14-py2.py3-none-any.whl (59 kB)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\se99a\anaconda3\lib\site-packages (from yfinance) (3.4.8)
Requirement already satisfied: requests>=2.26 in c:\users\se99a\anaconda3\lib\site-packages (from yfinance) (2.28.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\se99a\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in c:\users\se99a\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\se99a\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Collecting frozendict>=2.3.4
  Using cached frozendict-2.3.6-cp39-cp39-win_amd64.whl (35 kB)
Requirement already satisfied: numpy>=1.16.5 in c:\users\se99a\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pytz>=2022.5 in c:\users\se99a\anaconda3\lib\site-packages (from yfinance) (2023.3)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting lxml>=4.9.1
  Using cached lxml-4.9.2-cp39-cp39-win_amd64.whl (3.9 MB)
Collecting beautifulsoup4>=4.11.1
  Using cached beautifulsoup4-4.12.0-py3-none-any.whl (132 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\se99a\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.2.1)
Requirement already satisfied: cffi>=1.12 in c:\users\se99a\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.14.6)
Requirement already satisfied: pycparser in c:\users\se99a\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.20)
Requirement already satisfied: six>=1.9 in c:\users\se99a\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\se99a\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\se99a\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\se99a\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\se99a\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\se99a\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\se99a\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Installing collected packages: multitasking, lxml, frozendict, beautifulsoup4, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.6.3
    Uninstalling lxml-4.6.3:
      Successfully uninstalled lxml-4.6.3
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.10.0
    Uninstalling beautifulsoup4-4.10.0:
      Successfully uninstalled beautifulsoup4-4.10.0
Successfully installed beautifulsoup4-4.12.0 frozendict-2.3.6 lxml-4.9.2 multitasking-0.0.11 yfinance-0.2.14
Note: you may need to restart the kernel to use updated packages.

In [14]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
ticker = ["AAPL","BA","KO","IBM","DIS","MSFT"]

In [10]:
stocks = yf.download(ticker, start = "2010-01-01", end = "2023-03-20")

[*********************100%***********************]  6 of 6 completed

In [11]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3324 entries, 2010-01-04 to 2023-03-17
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  3324 non-null   float64
 1   (Adj Close, BA)    3324 non-null   float64
 2   (Adj Close, DIS)   3324 non-null   float64
 3   (Adj Close, IBM)   3324 non-null   float64
 4   (Adj Close, KO)    3324 non-null   float64
 5   (Adj Close, MSFT)  3324 non-null   float64
 6   (Close, AAPL)      3324 non-null   float64
 7   (Close, BA)        3324 non-null   float64
 8   (Close, DIS)       3324 non-null   float64
 9   (Close, IBM)       3324 non-null   float64
 10  (Close, KO)        3324 non-null   float64
 11  (Close, MSFT)      3324 non-null   float64
 12  (High, AAPL)       3324 non-null   float64
 13  (High, BA)         3324 non-null   float64
 14  (High, DIS)        3324 non-null   float64
 15  (High, IBM)        3324 non-null   float64
 16  (High, KO)         3324 non-null   float64
 17  (High, MSFT)       3324 non-null   float64
 18  (Low, AAPL)        3324 non-null   float64
 19  (Low, BA)          3324 non-null   float64
 20  (Low, DIS)         3324 non-null   float64
 21  (Low, IBM)         3324 non-null   float64
 22  (Low, KO)          3324 non-null   float64
 23  (Low, MSFT)        3324 non-null   float64
 24  (Open, AAPL)       3324 non-null   float64
 25  (Open, BA)         3324 non-null   float64
 26  (Open, DIS)        3324 non-null   float64
 27  (Open, IBM)        3324 non-null   float64
 28  (Open, KO)         3324 non-null   float64
 29  (Open, MSFT)       3324 non-null   float64
 30  (Volume, AAPL)     3324 non-null   int64
 31  (Volume, BA)       3324 non-null   int64
 32  (Volume, DIS)      3324 non-null   int64
 33  (Volume, IBM)      3324 non-null   int64
 34  (Volume, KO)       3324 non-null   int64
 35  (Volume, MSFT)     3324 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 960.8 KB

In [12]:
stocks.to_csv("stocks.csv")

다시 불러오려면 약간의 조정 필요

In [18]:
stocks = pd.read_csv("stocks.csv", header = [0,1], index_col = [0], parse_dates=[0])

In [20]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2010-01-04  6.505280  43.777542  27.933924  80.328064  18.936367  23.623896
2010-01-05  6.516528  45.211342  27.864235  79.357689  18.707298  23.631533
2010-01-06  6.412873  46.582798  27.716166  78.842194  18.700657  23.486504
2010-01-07  6.401018  48.468559  27.724871  78.569252  18.654181  23.242250
2010-01-08  6.443574  48.001011  27.768421  79.357689  18.308920  23.402542

               Close                                    ...   Open  \
                AAPL         BA        DIS         IBM  ...    DIS
Date                                                    ...
2010-01-04  7.643214  56.180000  32.070000  126.625237  ...  32.50
2010-01-05  7.656429  58.020000  31.990000  125.095604  ...  32.07
2010-01-06  7.534643  59.779999  31.820000  124.282982  ...  31.90
2010-01-07  7.520714  62.200001  31.830000  123.852776  ...  31.77
2010-01-08  7.570714  61.599998  31.879999  125.095604  ...  31.66

                                                 Volume                      \
                   IBM         KO       MSFT       AAPL        BA       DIS
Date
2010-01-04  125.411087  28.580000  30.620001  493729600   6186700  13700400
2010-01-05  125.889099  28.424999  30.850000  601904800   8867800  10307700
2010-01-06  124.933075  28.174999  30.879999  552160000   8836500  10709500
2010-01-07  124.158699  28.165001  30.629999  477131200  14379100   8202100
2010-01-08  123.393883  27.730000  30.280001  447610800   7146600   7657500


                IBM        KO      MSFT
Date
2010-01-04  6438444  13870400  38409100
2010-01-05  7156104  23172400  49749600
2010-01-06  5863144  19264600  58182400
2010-01-07  6109268  13234600  50559700
2010-01-08  4390271  28712400  51197400

[5 rows x 36 columns]

In [21]:
stocks.columns = stocks.columns.to_flat_index()

In [22]:
stocks.columns

Index([('Adj Close', 'AAPL'),   ('Adj Close', 'BA'),  ('Adj Close', 'DIS'),
        ('Adj Close', 'IBM'),   ('Adj Close', 'KO'), ('Adj Close', 'MSFT'),
           ('Close', 'AAPL'),       ('Close', 'BA'),      ('Close', 'DIS'),
            ('Close', 'IBM'),       ('Close', 'KO'),     ('Close', 'MSFT'),
            ('High', 'AAPL'),        ('High', 'BA'),       ('High', 'DIS'),
             ('High', 'IBM'),        ('High', 'KO'),      ('High', 'MSFT'),
             ('Low', 'AAPL'),         ('Low', 'BA'),        ('Low', 'DIS'),
              ('Low', 'IBM'),         ('Low', 'KO'),       ('Low', 'MSFT'),
            ('Open', 'AAPL'),        ('Open', 'BA'),       ('Open', 'DIS'),
             ('Open', 'IBM'),        ('Open', 'KO'),      ('Open', 'MSFT'),
          ('Volume', 'AAPL'),      ('Volume', 'BA'),     ('Volume', 'DIS'),
           ('Volume', 'IBM'),      ('Volume', 'KO'),    ('Volume', 'MSFT')],
      dtype='object')

In [24]:
stocks.head() #튜플형식으로 되어있음, 나눠주자

,"(Adj Close, AAPL)","(Adj Close, BA)","(Adj Close, DIS)","(Adj Close, IBM)","(Adj Close, KO)","(Adj Close, MSFT)","(Close, AAPL)","(Close, BA)","(Close, DIS)","(Close, IBM)",...,"(Open, DIS)","(Open, IBM)","(Open, KO)","(Open, MSFT)","(Volume, AAPL)","(Volume, BA)","(Volume, DIS)","(Volume, IBM)","(Volume, KO)","(Volume, MSFT)"
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,6.505280,43.777542,27.933924,80.328064,18.936367,23.623896,7.643214,56.180000,32.070000,126.625237,...,32.50,125.411087,28.580000,30.620001,493729600,6186700,13700400,6438444,13870400,38409100
2010-01-05,6.516528,45.211342,27.864235,79.357689,18.707298,23.631533,7.656429,58.020000,31.990000,125.095604,...,32.07,125.889099,28.424999,30.850000,601904800,8867800,10307700,7156104,23172400,49749600
2010-01-06,6.412873,46.582798,27.716166,78.842194,18.700657,23.486504,7.534643,59.779999,31.820000,124.282982,...,31.90,124.933075,28.174999,30.879999,552160000,8836500,10709500,5863144,19264600,58182400
2010-01-07,6.401018,48.468559,27.724871,78.569252,18.654181,23.242250,7.520714,62.200001,31.830000,123.852776,...,31.77,124.158699,28.165001,30.629999,477131200,14379100,8202100,6109268,13234600,50559700
2010-01-08,6.443574,48.001011,27.768421,79.357689,18.308920,23.402542,7.570714,61.599998,31.879999,125.095604,...,31.66,123.393883,27.730000,30.280001,447610800,7146600,7657500,4390271,28712400,51197400

In [25]:
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)

In [29]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2010-01-04  6.505280  43.777542  27.933924  80.328064  18.936367  23.623896
2010-01-05  6.516528  45.211342  27.864235  79.357689  18.707298  23.631533
2010-01-06  6.412873  46.582798  27.716166  78.842194  18.700657  23.486504
2010-01-07  6.401018  48.468559  27.724871  78.569252  18.654181  23.242250
2010-01-08  6.443574  48.001011  27.768421  79.357689  18.308920  23.402542

               Close                                    ...   Open  \
                AAPL         BA        DIS         IBM  ...    DIS
Date                                                    ...
2010-01-04  7.643214  56.180000  32.070000  126.625237  ...  32.50
2010-01-05  7.656429  58.020000  31.990000  125.095604  ...  32.07
2010-01-06  7.534643  59.779999  31.820000  124.282982  ...  31.90
2010-01-07  7.520714  62.200001  31.830000  123.852776  ...  31.77
2010-01-08  7.570714  61.599998  31.879999  125.095604  ...  31.66

                                                 Volume                      \
                   IBM         KO       MSFT       AAPL        BA       DIS
Date
2010-01-04  125.411087  28.580000  30.620001  493729600   6186700  13700400
2010-01-05  125.889099  28.424999  30.850000  601904800   8867800  10307700
2010-01-06  124.933075  28.174999  30.879999  552160000   8836500  10709500
2010-01-07  124.158699  28.165001  30.629999  477131200  14379100   8202100
2010-01-08  123.393883  27.730000  30.280001  447610800   7146600   7657500


                IBM        KO      MSFT
Date
2010-01-04  6438444  13870400  38409100
2010-01-05  7156104  23172400  49749600
2010-01-06  5863144  19264600  58182400
2010-01-07  6109268  13234600  50559700
2010-01-08  4390271  28712400  51197400

[5 rows x 36 columns]

In [30]:
stocks.swaplevel(axis=1).sort_index(axis=1)

                  AAPL                                                  \
             Adj Close       Close        High         Low        Open
Date
2010-01-04    6.505280    7.643214    7.660714    7.585000    7.622500
2010-01-05    6.516528    7.656429    7.699643    7.616071    7.664286
2010-01-06    6.412873    7.534643    7.686786    7.526786    7.656429
2010-01-07    6.401018    7.520714    7.571429    7.466071    7.562500
2010-01-08    6.443574    7.570714    7.571429    7.466429    7.510714
...                ...         ...         ...         ...         ...
2023-03-13  150.470001  150.470001  153.139999  147.699997  147.809998
2023-03-14  152.589996  152.589996  153.399994  150.100006  151.279999
2023-03-15  152.990005  152.990005  153.250000  149.919998  151.190002
2023-03-16  155.850006  155.850006  156.460007  151.639999  152.160004
2023-03-17  155.000000  155.000000  156.740005  154.279999  156.080002

                               BA                                      ...  \
               Volume   Adj Close       Close        High         Low  ...
Date                                                                   ...
2010-01-04  493729600   43.777542   56.180000   56.389999   54.799999  ...
2010-01-05  601904800   45.211342   58.020000   58.279999   56.000000  ...
2010-01-06  552160000   46.582798   59.779999   59.990002   57.880001  ...
2010-01-07  477131200   48.468559   62.200001   62.310001   59.020000  ...
2010-01-08  447610800   48.001011   61.599998   61.779999   60.860001  ...
...               ...         ...         ...         ...         ...  ...
2023-03-13   84457100  203.369995  203.369995  207.080002  197.110001  ...
2023-03-14   73695900  207.279999  207.279999  213.559998  205.000000  ...
2023-03-15   77167900  198.210007  198.210007  202.210007  192.410004  ...
2023-03-16   76161100  203.190002  203.190002  203.910004  194.429993  ...
2023-03-17   98862500  201.050003  201.050003  202.830002  199.000000  ...

                   KO                                        MSFT              \
                 High        Low       Open    Volume   Adj Close       Close
Date
2010-01-04  28.610001  28.450001  28.580000  13870400   23.623896   30.950001
2010-01-05  28.495001  28.070000  28.424999  23172400   23.631533   30.959999
2010-01-06  28.219999  27.990000  28.174999  19264600   23.486504   30.770000
2010-01-07  28.184999  27.875000  28.165001  13234600   23.242250   30.450001
2010-01-08  27.820000  27.375000  27.730000  28712400   23.402542   30.660000
...               ...        ...        ...       ...         ...         ...
2023-03-13  60.869999  59.250000  59.290001  21956000  253.919998  253.919998
2023-03-14  60.459999  59.349998  60.000000  19496900  260.790009  260.790009
2023-03-15  60.480000  59.240002  59.430000  21089900  265.440002  265.440002
2023-03-16  60.340000  59.700001  60.090000  15658300  276.200012  276.200012
2023-03-17  60.349998  59.639999  60.310001  27348300  279.429993  279.429993


                  High         Low        Open    Volume
Date
2010-01-04   31.100000   30.590000   30.620001  38409100
2010-01-05   31.100000   30.639999   30.850000  49749600
2010-01-06   31.080000   30.520000   30.879999  58182400
2010-01-07   30.700001   30.190001   30.629999  50559700
2010-01-08   30.879999   30.240000   30.280001  51197400
...                ...         ...         ...       ...
2023-03-13  257.910004  245.729996  247.399994  33339700
2023-03-14  261.070007  255.860001  256.750000  33620300
2023-03-15  266.480011  259.209991  259.980011  46028000
2023-03-16  276.559998  263.279999  265.209991  54768800
2023-03-17  283.329987  276.320007  278.260010  69492200

[3324 rows x 36 columns]